nav {
    display: flex;
    justify-content: space-between;
}

nav h1 {
    color: blueviolet;
    margin: 0;
    font-size: 40px;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 15px;
    padding-top: 15px;
}

nav li a {
    text-decoration: none;
    color: blueviolet;
}

.nav-search {
    margin-top: 5px;
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

nav .nav-search input {
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 39px;
    border-right: 0px;
    outline: none;
}

nav .nav-search button {
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 39px;
    border-left: 0px;
}

.header-link {
    text-decoration: none;
}

.suggest-products {
    display: list-item !important;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    width: 385px;
    top: 40px;
    border: 1px solid #fff;
}

.suggest-products li {
    text-align: center;
    padding: 5px;
    margin-left: 0;
    border: 0.5px solid #ddd;
}


.suggest-products li a {
    cursor: pointer;
    color: blueviolet;
}

.suggest-products li a:hover{
    color: rgb(175, 133, 133);
}