span.close{
    cursor: pointer;
    float: right;
    margin-left: 20px;
}

span.close:hover{
    opacity: 0.7;
}
a{
    color: #333;
    font-size: 17px;
    text-decoration-color: rgb(127, 121, 121);
    
}
a:hover{
    opacity: 0.8
}