<div class="add-product">
    <div class="signup">
        <h2>Add New Product</h2>
        <p class="add-product-messages" *ngIf="addControl">Product added is successfully</p>
        <form #addData="ngForm" (ngSubmit)="addProduct(addData.value);addData.resetForm()">
            <input type="text" class="form-input" ngModel name="name" placeholder="Enter Product">
            <input type="text" class="form-input" ngModel name="price" placeholder="Enter Product Price">
            <input type="text" class="form-input" ngModel name="color" placeholder="Enter Product Color">
            <input type="text" class="form-input" ngModel name="category" placeholder="Enter Product Category">
            <input type="text" class="form-input" ngModel name="image" placeholder="Enter Product Image Url">
            <textarea type="text" class="form-input" ngModel name="description" placeholder="Enter Product Description"
                style="height: 50px;width:260px"></textarea>
            <button class="form-add">Add Product</button>
        </form>
    </div>
</div>