.product-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

table,tr,th,td{
    border: 1px solid rgb(194, 175, 175);
    border-collapse: collapse;
}

thead th {
    background-color: rgb(35, 209, 73);
    color: white;
    padding: 10px;
    font-size: 1.2rem;
}
tbody td{
    padding: 10px;
    color:  #333;
    font-size: 1.1rem;
}
img{
    width: 50px;
    height: 50px;
}

.btn-delete{
    background-color: red;
    color:  #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid red;
    margin: 5px;

}

.btn-delete:hover{
    opacity: 0.7;
}

tbody a{
    text-decoration: none;
    color: blue;
}

tbody a:hover{
    opacity: 0.7;
}