<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><strong>RestoApp</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="add" aria-current="page" href="#">Add Restoreant</a>
          </li>

          <li class="nav-item">
            <a routerLink="login" class="nav-link active" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a routerLink="register" class="nav-link active" href="#">Register</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <router-outlet></router-outlet>
  </div>

</body>
  <footer class="bg-light text-center text-lg-start" style="position: fixed;bottom:0;width: 100%;">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>

</html>