<div class="seller-auth">
    <div class="signup" *ngIf="!showLogin">
        <h1>User Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
            <input type="text" class="form-input" ngModel name="name" placeholder="Enter name">
            <input type="text" class="form-input" ngModel name="email" placeholder="Enter email">
            <input type="password" class="form-input" ngModel name="password" placeholder="Enter password">
            <button class="form-button">Signup</button>
            <span>Already Have Account?<a class="auth-toggle-link" (click)="openLogin()">Click to Login </a> </span>
        </form>
    </div>

    <div class="signup" *ngIf="showLogin">
        <h1>User Login</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="userLogin(sellerSignUp.value)">
            <input type="text" class="form-input" (keypress)="keypress()" ngModel name="email" placeholder="Enter email">
            <input type="password" class="form-input" (keypress)="keypress()" ngModel name="password"
                placeholder="Enter password">
            <button class="form-button">Login</button>
            <p class="login-failed" *ngIf="fail">No Users Found</p>
            <span>Don't Have Account?<a class="auth-toggle-link" (click)="openSignUp()">Click to SignUp </a> </span>
        </form>
    </div>

</div>